<h2>Search Partner</h2>
<label for="">Name</label>
<form action="partners" method="get">
<input type="text" placeholder="Your partner you want to find" name="name" value="<%=searchOptions.name %>" >
<button type="submit" >Search</button>
</form>
<br>
<% partners.forEach(partner => { %>

 <div>
    <table border="1" cellPadding="1">
        <tr>
            <td>Họ và tên</td>
            <td>Quê quán </td>
        </tr>
        <tr>
            <td><%= partner.name %></td>
            <td><%= partner.country %></td>
        </tr>
    </table>
</div>
<a href="/partners/<%= partner.id %>">View</a><br>

<a href="/partners/<%= partner.id %>/edit">Edit</a>
<%- include('../partials/deleteForm.ejs',
              { url: `/partners/${partner.id}` }) %>
<% }) %>